h1{
    color:yellow;
    font-weight:bold;
    text-align:center;
    background-color:black;
    
}

h2{
    color:black;
    text-align:center;
    background-color:yellow;
}

table{
    background-color:aliceblue;
}
ol{
   background:url("../images/exkadai1.jpg")
}
body{
    background:url(../images/exkadai.jpg)
    
}