h1{
    color:white;
    font-weight:bold;
    text-align:center;
    background-color:blue;
    font-family:
}
h2{
    text-align:center;
    color:red;
    background-color:greenyellow;
}
h3{
    color:blue;
    
}

body{
    background:url("../images/kadai.gif")
    
}

